#l1 {
    color: red;
    background-color: pink;
}

#l2 {
    color: green;
    font-weight: 300;
    font-family: serif;
}

#l3 {
    border: 3px blue solid;
    color: black;
}


#l4:hover {
    color: purple;
}


#l5 {
    border: 3px solid blue;
    background-color: blue;
    font-size: 20px;
    color: white;
}