#body {
    background-color: aqua;
}

#h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(219, 18, 18);
}

#p1 {
    color: red;
    border: black double 7px;
    border-radius: 30px;
    width: 600px;
    height: 226px;
    text-align: left;
    background-image: url(./download.png);
}

ul {
    color: red;
    font-size: 20px;
}